<ion-view view-title="Teil 1 von 4 - Punkte bewegen">
  <ion-content>
    <div class="row row-80">
      <div class="col">
        <video src="video/pointtest.mp4" controls="controls" width="100%" height="80%" autoplay="autoplay"></video>
      </div>
    </div>
    <div class="row row-10">
      <div class="col col-10 padding"></div>
      <div class="col padding">
        <button class="button button-large button-block button-positive" ng-hide="hideButton" ng-click="pointsTestCtrl.goRightHand()">Weiter</button>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
