<ion-view view-title="Teil 3 von 4 - Punkte bewegen" cache-view="false">
  <ion-content scroll="false" class="pointstest">
    <div class="stats-container">
      <!--<div class="counter-container">
        <div class="counter-header">
          <span>Punkte</span>
        </div>
        <div class="counter-content figure-counter">
          <span class="">{{ roundCtrl.figureCounter }}</span>
        </div>
      </div><div class="counter-container">
        <div class="counter-header">
          <span>Zeit</span>
        </div>
        <div class="counter-content time-counter">
          <span>{{ roundCtrl.timeCounter }}</span>
        </div>
      </div>-->
    </div>

    <!-- <div class="overlay"> -->
    <!--   <div class="buttons"> -->
    <!--     <button class="button button-balanced" ng-click="pointsCtrl.start()">Start</button> -->
    <!--   <button class="button" ng-click="pointsCtrl.start()">Zurück</button> -->
    <!--   </div> -->
    <!-- </div> -->
  </ion-content>
</ion-view>
