<ion-view view-title="{{'LOGIN' | translate}}">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="switchLanguage('en')" translate="LANG_EN"></button>
    <button class="button" ng-click="switchLanguage('de')" translate="LANG_DE"></button>
    <button class="button" ng-click="switchLanguage('fr')" translate="LANG_FR"></button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div class="row row-5"></div>
    <h1 align="center" translate="WELCOME"></h1>
    <div class="row row-5"></div>
    <div class="row row-30" style="height:100%">
      <div class="col">
        <img src="img/MitrendS.png" class="center" height="90%"></img>
      </div>
    </div>


    <div class="row row-10">
        <div class="button button-large button-positive" translate="GO" ng-click="goKernsymp()"></div>
      </div>
    </div>

    <div class="row row-33">
      <!-- image bottom left USZ Logo -->
      <div class="col col-50" style="width:100%">
        <img src="img/usz.png" class="center" width="100%"></img>
      </div>
      <!-- image bottom right BFH Logo -->
      <div class="col col-50" style="witdh:100%">
        <img src="img/bfh.png" class="center" height="70%"></img>
      </div>
    </div>
  </ion-content>
</ion-view>
