<ion-view view-title="{{'IMPRESSUM' | translate}}">

  <ion-content class="padding">

    <div class="row row-5"></div>
    <h1 align="center" translate="THANKS"></h1>
    <div class="row row-5"></div>
    <div class="row row-30" style="height:100%">
      <div class="col">
        <img src="img/MitrendS.png" class="center" height="90%"></img>
      </div>
    </div>


    <div class="row row-10">
      <!-- Impressum Text middle left -->
      <div class="col col-50" translate="IMP_TEXT"></div>
      <!-- Impressum Text contact middle right -->
      <div class="col col-offset-25" translate="IMP_CONTACT"></div>
    </div>

    <div class="row row-20">
      <!-- Dataprotection button positioned under impressum text middle right -->
      <div class="col-25 col-offset-75">
        <div class="button button-large button-positive" translate="DATAPROTECTION" ng-click="showDATATEXT()"></div>
      </div>
    </div>

    <div class="row row-33">
      <!-- image bottom left USZ Logo -->
      <div class="col col-50" style="width:100%">
        <img src="img/usz.png" class="center" width="100%"></img>
      </div>
      <!-- image bottom right BFH Logo -->
      <div class="col col-50" style="witdh:100%">
        <img src="img/bfh.png" class="center" height="70%"></img>
      </div>
    </div>
  </ion-content>
</ion-view>
