<ion-view view-title="{{'MAINSYMPTOMS' | translate}}">

  <ion-content class="padding">
    <form>

      <div class="row row-8 padding-horizontal padding-bottom">
        <div class="col col-27 col-align-center" translate="Q1CORE"></div>
        <div class="col col-17 col-align-center text-right" translate="RIGHTHANDED"></div>
        <div class="col col-8"><input type="radio" id="kernsymp_one" ng-model="COREQ1" name="handed" value="right" ng-change="setValue('COREQ1', COREQ1)">
          <label for="kernsymp_one"></label>
        </div>
        <div class="col col-17 col-align-center text-right" translate="LEFTHANDED"></div>
        <div class="col col-8"><input type="radio" id="kernsymp_one" ng-model="COREQ1" name="handed" value="left" ng-change="setValue('COREQ1', COREQ1)">
          <label for="kernsymp_one"></label>
        </div>
        <div class="col col-17 col-align-center text-right" translate="BOTHHANDED"></div>
        <div class="col col-8"><input type="radio" id="kernsymp_one" ng-model="COREQ1" name="handed" value="both" ng-change="setValue('COREQ1', COREQ1)">
          <label for="kernsymp_one"></label>
        </div>
      </div>

      <div class="row row-8 padding row-top-border">
        <div class="col col-66 col-align-center" translate="Q2COREL"></div>
        <div class="col col-8 col-align-center col-offset-4 text-right" translate="YES"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ2" name="lmove" value="y" ng-change="setValue('COREQ2', COREQ2)">
          <label for="kernsymp"></label>
        </div>
        <div class="col col-6 col-align-center col-offset-2 text-right" translate="NO"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ2" name="lmove" value="n" ng-change="setValue('COREQ2', COREQ2)">
          <label for="kernsymp"></label>
        </div>
      </div>
      <div class="row row-8 padding row-top-border">
        <div class="col col-66 col-align-center" translate="Q2CORER"></div>

        <div class="col col-8 col-align-center col-offset-4 text-right" translate="YES"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ3" name="rmove" value="y" ng-change="setValue('COREQ3', COREQ3)">
          <label for="kernsymp"></label>
        </div>
        <div class="col col-6 col-align-center col-offset-2 text-right" translate="NO"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ3" name="rmove" value="n" ng-change="setValue('COREQ3', COREQ3)">
          <label for="kernsymp"></label>
        </div>
      </div>
      <div class="row row-8 padding row-top-border">
        <div class="col col-66 col-align-center" translate="Q3COREL"></div>
        <div class="col col-8 col-align-center col-offset-4 text-right" translate="YES"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ4" name="lfeel" value="y" ng-change="setValue('COREQ4', COREQ4)">
          <label for="kernsymp"></label>
        </div>
        <div class="col col-6 col-align-center col-offset-2 text-right" translate="NO"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ4" name="lfeel" value="n" ng-change="setValue('COREQ4', COREQ4)">
          <label for="kernsymp"></label>
        </div>
      </div>
      <div class="row row-8 padding row-top-border">
        <div class="col col-66 col-align-center" translate="Q3CORER"></div>
        <div class="col col-8 col-align-center col-offset-4 text-right" translate="YES"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ5" name="rfeel" value="y" ng-change="setValue('COREQ5', COREQ5)">
          <label for="kernsymp"></label>
        </div>
        <div class="col col-6 col-align-center col-offset-2 text-right" translate="NO"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ5" name="rfeel" value="n" ng-change="setValue('COREQ5', COREQ5)">
          <label for="kernsymp"></label>
        </div>
      </div>


      <div class="row row-8 padding-top row-top-border">
        <div class="col col-62 col-align-center" translate="Q4CORE"></div>
        <div class="col col-8">
          <img src="img/emotes_face_sad.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_uncertain.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_plain.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_smile.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_smile_big.png" height="100%"></img>
        </div>

      </div>
      <div class="row row-8">
        <div class="col col-62"></div>
        <div class="col col-7"><input type="radio" id="core_smile" ng-model="COREQ6" name="feelToday" value="1" ng-change="setValue('COREQ6', COREQ6)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ6" name="feelToday" value="2" ng-change="setValue('COREQ6', COREQ6)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ6" name="feelToday" value="3" ng-change="setValue('COREQ6', COREQ6)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ6" name="feelToday" value="4" ng-change="setValue('COREQ6', COREQ6)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ6" name="feelToday" value="5" ng-change="setValue('COREQ6', COREQ6)">
          <label for="core_smile"></label>
        </div>
      </div>
      <div class="row row-8 padding-top row-top-border">
        <div class="col col-62 col-align-center" translate="Q5CORE"></div>
        <div class="col col-8">
          <img src="img/emotes_face_sad.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_uncertain.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_plain.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_smile.png" height="100%"></img>
        </div>
        <div class="col col-8">
          <img src="img/emotes_face_smile_big.png" height="100%"></img>
        </div>
      </div>
      <div class="row row-8">
        <div class="col col-62"></div>
        <div class="col col-7"><input type="radio" id="core_smile" ng-model="COREQ7" name="concentration" value="1" ng-change="setValue('COREQ7', COREQ7)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ7" name="concentration" value="2" ng-change="setValue('COREQ7', COREQ7)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ7" name="concentration" value="3" ng-change="setValue('COREQ7', COREQ7)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ7" name="concentration" value="4" ng-change="setValue('COREQ7', COREQ7)">
          <label for="core_smile"></label>
        </div>

        <div class="col col-7 col-offset-1"><input type="radio" id="core_smile" ng-model="COREQ7" name="concentration" value="5" ng-change="setValue('COREQ7', COREQ7)">
          <label for="core_smile"></label>
        </div>
      </div>
      <div class="row row-8 padding row-top-border">
        <div class="col col-66 col-align-center" translate="Q6CORE"></div>
        <div class="col col-8 col-align-center col-offset-4 text-right" translate="YES"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ8" name="YNthrust" value="y" ng-change="setValue('COREQ8', COREQ8)">
          <label for="kernsymp"></label>
        </div>
        <div class="col col-6 col-align-center col-offset-2 text-right" translate="NO"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ8" name="YNthrust" value="n" ng-change="setValue('COREQ8', COREQ8)">
          <label for="kernsymp"></label>
        </div>
      </div>

      <div class="row row-8 padding row-top-border">
        <div class="col col-66 col-align-center" translate="Q7CORE"></div>
        <div class="col col-8 col-align-center col-offset-4 text-right" translate="YES"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ9" name="YNsymp" value="y" ng-change="setValue('COREQ9', COREQ9)">
        </div>
        <div class="col col-6 col-align-center col-offset-2 text-right" translate="NO"></div>
        <div class="col col-8"><input type="radio" id="kernsymp" ng-model="COREQ9" name="YNsymp" value="n" ng-change="setValue('COREQ9', COREQ9)">
        </div>
      </div>
      <div class="row row-8 padding">
        <div class="col col-offset-20"><button class="button button-block button-positive" ng-click="goSDVideo()" translate="SAVE" /></div>
        <div class="col col-20"></div>
      </div>
    </form>
  </ion-content>
</ion-view>
