<ion-view view-title="Teil 4 von 4 - Linie nachzeichnen">
    <ion-content>
        Adipisicing atque corrupti qui voluptates ut? Maxime dolores eaque repellendus soluta quia? Ex qui quia ipsam corrupti modi. Libero sit alias dolorum minima vel? Sed quisquam expedita dolores mollitia animi?
        Adipisicing atque corrupti qui voluptates ut? Maxime dolores eaque repellendus soluta quia? Ex qui quia ipsam corrupti modi. Libero sit alias dolorum minima vel? Sed quisquam expedita dolores mollitia animi?
        Adipisicing atque corrupti qui voluptates ut? Maxime dolores eaque repellendus soluta quia? Ex qui quia ipsam corrupti modi. Libero sit alias dolorum minima vel? Sed quisquam expedita dolores mollitia animi?
        Adipisicing atque corrupti qui voluptates ut? Maxime dolores eaque repellendus soluta quia? Ex qui quia ipsam corrupti modi. Libero sit alias dolorum minima vel? Sed quisquam expedita dolores mollitia animi?

        <button class="button button-positive button-block" ui-sref="LineTestIntro">Weiter</button>
    </ion-content>
</ion-view>
