<ion-view view-title="{{'IMPORTANT' | translate}}">
  <ion-content class="padding" scroll="false">
    <div class="row row-5"></div>
    <h1 align="center">Bitte benützen Sie für die nächste Übung ihre <b style="color:#00B050">RECHTE</b> Hand!</h1>
    <div class="row row-5"></div>
    <div class="row row-40">
      <div class="col col-50">
        <img src="img/leftPalmBlack.png" class="center" height="100%"></image>
      </div>
      <div class="col col-50">
        <img src="img/rightPalmGreen.png" class="center" height="100%"></image>
      </div>
    </div>
    <div class="row row-15">
    </div>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <button class="button button-large button-block button-positive" ng-click="goNext()" translate="NEXT" />
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
