<ion-view view-title="{{headerTitle}}" chache-view="false">
  <ion-content class="padding">
    <div class="row row-80">
      <div class="col">
        <iframe ng-src="{{videoSrc}}" width="100%" height="100%"></iframe>
      </div>
    </div>
    <div class="row row-10">
      <div class="col col-10 padding"></div>
      <div class="col padding">
        <button class="button button-large button-block button-positive" ng-hide="hideButton" ng-click="goNext()" translate="NEXT" />
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
