<ion-view view-title="{{headerTitle}}">
  <ion-content class="padding" scroll="false">
    <div class="row row-5"></div>
    <h1 align="center" translate="DONE"></h1>
    <div class="row row-5"></div>
    <div class="row row-40">
      <img src="{{imgSrc}}" class="center" height="100%">
    </div>
    <div class="row row-15">
    </div>
    <div class="row row-35">
      <div class="col col-10"></div>
      <div class="col">
        <button class="button button-large button-block button-positive" ng-click="goNext()" translate="NEXT"/>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
