<ion-view view-title="{{'WELCOME' | translate}}" cache-view="false">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">

    <div class="row row-10"></div>
    <h1 align="center" translate="WELCOME_STUDY"></h1>
    <div class="row row-10"></div>
    <div class="row row-40">
      <div class="col">
        <img src="img/MitrendS.png" class="center" height="80%"></img>
      </div>
    </div>
    <div class="row row-10"></div>
    <div class="row row-20">
      <div class="col col-offset-15 col-30">
        <button class="button button-positive button-block" ng-click="showDATATEXT()" translate="DATAPROTECTION"></button>
      </div>
      <div class="col col-offset-10 col-30">
        <button class="button button-positive button-block" ng-click="goNext()" translate="GO"></button>
      </div>
      <div class="col col-15"></div>
    </div>
  </ion-content>
</ion-view>
