<ion-view view-title="{{'IMPRESSUM' | translate}}" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-home" ng-click="goHome()" translate="HOME"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-close" ng-click="closeApp()" translate="CLOSE"></button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div class="row row-5"></div>
    <h1 align="center" translate="THANKS"></h1>
    <div class="row row-5"></div>
    <div class="row row-25" style="width:100%">
      <div class="col col-100">
        <img src="img/MitrendS.png" class="center" height="100%"></img>
      </div>
    </div>

  <div class="row row-10"></div>
    <div class="row row-10">
      <!-- Impressum Text middle left -->
      <div class="col" translate="IMP_TEXT"></div>
      <!-- Impressum Text contact middle right -->
      <!--<div class="col col-offset-10"><p translate="IMP_CONTACT"><br>
        <div class="button button-large button-positive" translate="IMP_WRITE" ng-click="sendEmail()"></div>
      </div>-->
    </div>


    <div class="row row-10"></div>
    <div class="row row-25">
      <!-- image bottom left USZ Logo -->
      <div class="col col-50" style="width:100%">
        <img src="img/usz.png" class="center" width="90%"></img>
      </div>
      <!-- image bottom right BFH Logo -->
      <div class="col col-50" style="witdh:100%">
        <img src="img/bfh.png" class="center" height="70%"></img>
      </div>
    </div>
  </ion-content>
</ion-view>
