<ion-view view-title="{{'LAB_VIDEO' | translate}}" cache-view="false">
  <ion-content class="padding">
    <div class="row row-85">
      <div class="col">
        <div class="fullscreen-player" ng-click="closeModal()" style="width:100%">
              <iframe ng-src="https://www.youtube.com/embed/ju3Gj7sujms?rel=0&amp;showinfo=0;autoplay=1;controls=1" width="100%" height="80%"></iframe>
        </div>
      </div>
    </div>
    <div class="row row-15">
      <div class="col col-10 padding"></div>
      <div class="col padding">
        <button class="button button-large button-block button-positive" ng-hide="hideButton" ng-click="goLab()" translate="NEXT"/>
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
