<ion-view view-title="{{'LOGIN' | translate}}">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
    <div class="row row-5">
      <div class="col text-right">Version 3.0
      </div>
    </div>
    <div class="row row-20">
      <div class="col">
        <img src="img/MitrendS.png" class="center" height="100%"></img>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list list-inset">
          <label class="item item-input">
        <input ng-model="login.email" type="text" placeholder="Email"></input>
      </label>
          <label class="item item-input">
        <input ng-model="login.password" type="password" placeholder="Password"></input>
      </label>
          <label class="item item-input">
      <input ng-model="login.pseudonym" type="text" placeholder="Pseudonym"></input>
    </label>
          <label class="item item-input">
<input ng-model="login.state" type="text" placeholder="State"></input>
</label>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="button button-full button-positive" ng-click="doLogin()">Login</button>
    </div>
    <div class="row row-5">
    </div>
    <div class="row row-25">
      <!-- image bottom left USZ Logo -->
      <div class="col col-50" style="width:100%">
        <img src="img/usz.png" class="center" width="90%"></img>
      </div>
      <!-- image bottom right BFH Logo -->
      <div class="col col-50" style="witdh:100%">
        <img src="img/bfh.png" class="center" height="70%"></img>
      </div>
    </div>
  </ion-content>
</ion-view>
